# LINE
LINE_CHANNEL_SECRET=xxx
LINE_CHANNEL_ACCESS_TOKEN=xxx
LINE_APPROVER_USER_ID=xxx

# Google
GOOGLE_SHEETS_ID=xxx
GOOGLE_CREDENTIALS_JSON=credentials.json

# OCR
OCR_SPACE_API_KEY=xxx

# Server
PORT=8000
